ocr/back/images/IMG_007.jpg
ocr/back/images/IMG_008.jpg
ocr/back/images/sample.jpg
ocr/back/images/sample2.jpg
ocr/back/models/license_plate_detector.pt
ocr/back/results/gray_IMG_001.jpg
ocr/back/results/gray_IMG_007.jpg
ocr/back/results/gray_IMG_008.jpg
ocr/back/results/gray_img.jpg
ocr/back/results/gray_img2.jpg
ocr/back/results/IMG_001.jpg
ocr/back/results/IMG_002.jpg
ocr/back/results/IMG_003.jpg
ocr/back/results/IMG_007.jpg
ocr/back/results/IMG_008.jpg
ocr/back/results/output.jpg
ocr/back/results/output2.jpg
ocr/back/results/output3.jpg
ocr/back/results/output4.jpg
ocr/back/results/thresh_IMG_001.jpg
ocr/back/results/thresh_IMG_007.jpg
ocr/back/results/thresh_IMG_008.jpg
ocr/back/results/thresh_img.jpg
ocr/back/results/thresh_img2.jpg
ocr/back/__pycache__/detect_tes.cpython-313.pyc
ocr/back/__pycache__/detect.cpython-313.pyc
ocr/back/images/IMG_001.jpg
ocr/back/images/IMG_002.jpg
ocr/back/images/IMG_003.jpg
ocr/back/images/IMG_004.jpg
ocr/back/images/IMG_005.jpg
ocr/back/images/IMG_006.jpg
parking_system/back_end/__pycache__/database.cpython-313.pyc
parking_system/back_end/__pycache__/main.cpython-313.pyc
parking_system/back_end/__pycache__/schemas.cpython-313.pyc
parking_system/back_end/__pycache__/database.cpython-313.pyc
parking_system/back_end/__pycache__/main.cpython-313.pyc
parking_system/back_end/__pycache__/schemas.cpython-313.pyc
parking_system/back_end/routers/__pycache__/tasks.cpython-313.pyc
parking_system/back_end/utils/__pycache__/ws.cpython-313.pyc
